body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#button3 {
  opacity: 0;
}

#button4 {
  opacity: 1;
}

#rmxBtn {
  opacity: 0;
}

#button1 {
  opacity: 0;
}

#button2 {
  opacity: 0;
}

#nxtBtn {
  opacity: 1;
}

#rstBtn {
  opacity: 0;
}
